@use "../../base/abstracts";

.todo-card-shadow {
  .priority-circles {
    display: flex;
    gap: 1rem;

    & > input {
      display: none;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 4px;
      cursor: pointer;
    }
    .top {
      &:hover {
        border: 2px solid var(--orange-dark);
      }
      &.active {
        border: 1px solid var(--orange-dark);
        background-color: var(--orange-dark);
        display: inline-block;
      }
    }
    .mid {
      &:hover {
        border: 2px solid var(--yellow-dark);
      }
      &.active {
        border: 1px solid var(--yellow-dark);
        background-color: var(--yellow-dark);
        display: inline-block;
      }
    }
    .low {
      &:hover {
        border: 2px solid var(--green-dark);
      }
      &.active {
        border: 1px solid var(--green-dark);
        background-color: var(--green-dark);
        display: inline-block;
      }
    }
  }
}
