@use "../../base/abstracts";

.todo-card-shadow {
  border-radius: 20px;
  border-bottom-right-radius: 14px;

  transform: translate(0.4rem, 0.4rem);

  &.top {
    background-color: var(--orange-dark);
  }
  &.mid {
    background-color: var(--yellow-dark);
  }
  &.low {
    background-color: var(--green-dark);
  }

  &.complete {
    opacity: 60%;
    transform: translate(0, 0);
    border: none;
    .todo-card {
      transform: translate(0, 0);
      h1,
      p {
        text-decoration: line-through;
      }
    }
  }

  .todo-card {
    transform: translate(-0.4rem, -0.4rem);

    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0.6rem 1rem;

    background-color: var(--background-color);

    border: 1px solid var(--text-color-lightest);
    border-radius: 10px;

    h1 {
      margin-top: 0.6rem;
      font-size: 2.4rem;
      font-weight: 500;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    p {
      color: var(--text-color-light);
    }

    textarea#heading {
      font-size: 2.4rem;
      font-weight: 500;
    }
    textarea#details {
      color: var(--text-color-light);
    }
  }
}
