:root {
  --maybe: hsl(207, 90%, 54%);
  --maybe2: #4caf50;

  --main-background: white;

  --background-color: white;

  --red: hsl(347, 100%, 69%);
  --red: hsl(0, 100%, 65%);

  --orange: hsl(6, 83%, 65%);
  --orange-dark: #dd0b1a;
  --orange-light: hsl(6, 83%, 75%);

  --blue: hsl(213, 69%, 65%);
  --blue-light: hsl(213, 69%, 75%);

  --green: hsl(122, 39%, 49%);
  --green-dark: #15a674;
  --green-light: hsl(122, 39%, 75%);

  --yellow: hsl(45, 100%, 67%);
  --yellow: hsl(42, 100%, 50%);
  --yellow-dark: #fe9e19;

  --purple: hsl(261, 62%, 64%);
  --teal: #009688;

  --text-color: black;
  --text-color-light: #454849;
  --text-color-lighter: #747677;
  --text-color-lightest: #a2a3a4;

  --border-color: black;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($juco: center, $alite: center) {
  display: flex;
  justify-content: $juco;
  align-items: $alite;
}
