@use "../../base/abstracts";

.input-form-shadow {
  margin-bottom: 2rem;
  width: fit-content;
  border-radius: 16px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  // border: 1px solid var(--border-color);

  background-color: var(--yellow);
  // transform: translate(0.4rem, 0.6rem);

  .input-form {
    // transform: translate(-0.4rem, -0.6rem);

    background-color: var(--background-color);
    border: 1px solid var(--text-color-lightest);
    border-radius: 8px;
    width: fit-content;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0 1.4rem;

      &.active {
        input[name="title"] {
          border-bottom: 1px solid var(--text-color-lightest);
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        input[name="text"] {
          max-height: 6rem;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }
    input {
      width: 50rem;
      border-radius: 8px;

      &[name="title"] {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 4rem;
      }
      &[name="text"] {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: none;
        max-height: 0;
        height: 6rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        transition: max-height 0.3s ease, clip-path 0.2s ease,
          clip-path 0.2s ease;
      }
      &::placeholder {
        color: var(--text-color-lightest);
      }
    }

    button {
      display: none;
      border: 1px solid var(--border-color);
      border-radius: 6px;

      margin-left: 1rem;

      height: 3rem;
      width: 10rem;

      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
