@use "../base/abstracts";

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 22rem 1fr;
  color: var(--text-color);

  .aside-dark-bg {
    padding: 0 2rem 0 3rem;
  }

  .right {
    padding: 0 3rem 0 2rem;
  }
}
