@use "../../base/abstracts";

.aside-dark-bg {
  .aside {
    > * {
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
    h1 {
      padding: 2rem 0;
      margin-bottom: 16.4px;
    }
    & > :not(:first-child) {
      margin-bottom: 4rem;
    }
  }
  button {
    color: black;
    height: 4rem;
    width: 12rem;

    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .input-label-wrapper {
    border-radius: inherit;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.4rem 0.6rem;

    &.active {
      label {
        color: var(--text-color-light);
      }
    }
    &:last-child {
      border-bottom: none;
    }
    label {
      color: var(--text-color-lightest);
    }
  }
  legend {
    position: absolute;
    bottom: calc(100% + 0.4rem);
    left: 0;
  }
}
