@use "../../base/abstracts";

.aside {
  nav {
    border: 1px solid var(--text-color-lightest);
    border-radius: 10px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 0 1rem;
      li {
        border-bottom: 1px solid var(--text-color-lightest);

        color: var(--text-color-lightest);
        padding: 1rem 0;
        height: 4rem;
        display: flex;
        align-items: center;
        &:last-child {
          border: none;
        }
      }
    }
  }
}
